p
{
    text-align: left;
}

body{
    color: white;
    background-color: PapayaWhip;
    background-image: url(Screenshot%20from%202014-06-02%2010:55:30.png);
    background-attachment: fixed;
    background-position: center;
}