html{
    height: 100%;
}

h1
{
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 60px;
}

header
{
    color: black;
    background: linear-gradient(to left, lightgrey, white, white, lightgrey)
}

body
{
    margin: 0px;
    text-align: center;
    color: rgb(200, 200, 200);

    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background: linear-gradient(to left, lightgrey, lightblue, lightblue, lightblue, lightgrey);
}

li
{
    text-align: left;
    color: black;
    
}

#linkselect
{
    z-index: -1;
    position: fixed;
    left: 300px;
    background-color: rgb(0, 0, 0);
    margin-top: -5px;
    height: 39px;
}

.text
{
    font-family: serif;
    
    display: inline-block;
    color: black;
    background-color: lightcyan;
    max-width: 800px;
    margin: 5px;
    margin-top: 10px;
    padding: 10px;
    text-align: left;
}

a:link
{
    color: blue;
}

a:visited
{
    color: darkblue;
}

a.one:link
{
    margin: 3px;
    color: blue;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
}

a.one:visited
{
    color: darkblue;
}

a.one:hover
{
    background: linear-gradient(rgba(255, 244, 255, 0), antiquewhite, rgba(255, 244, 255, 0));
}

a.one:active
{
    border-color: rgb(156, 191, 137);
}

.navigation
{
    font-size: 25px;
    margin: 0px;
    padding: 5px;
}
h2 {
    text-align: center;
}
